<div class="callout">
  <div class="container">
    <h1 class="no-spacing-top"><%= @pagetitle %></h1>

    <p>
      Enter your goals here to help LIT understand and track the big picture of the division.
    </p>
  </div>
</div>

<div class="container">

  <form action="/litgoals/create" method="post">

    <input type="hidden" name="goal_id" value="<%= goal.id %>">

    <fieldset>
      <% if user.is_admin %>
          <label for="associated_owners">Goal Scope</label>
          <p class="help-text">
            (This field is displayed for admins only)
          </p>
          <div class="radioset">
            <%=
              forme.input(:checkboxset,
                          multiple: true,
                          name:     "associated-owners[]",
                          id:       "associated-owners[]",
                          options:  [["Personal Goal for #{user.name}", user.id]] +
                                        units.map { |u| [u.name, u.id] },
                          selected: goal.owners.map(&:id)

              )
           %>
          </div>

    <% else %>
          <input type="hidden" name="associated-owners[]" value="<%= user.id %>"/>
      <% end %>
      <input type="hidden" name="creator_uniqname" value="<%= user.uniqname %>"/>
    </fieldset>

    <fieldset class="full-width">
      <label for="goal_year">Fiscal Year</label>
      <%=  forme.input(:select, multiple: false, name: 'goal_year',
           options: [['July 2016 to June 2017', 2017], ['July 2017 to June 2018', 2018]],
           selected: 2017
           ) %>
    </fieldset>
    <fieldset class="full-width">
      <label for="title">Title</label>
      <p class="help-text">
        Give your goal a title that can quickly identify it's purpose.
      </p>
      <%= gforme.input :title %>
    </fieldset>

    <fieldset class="full-width">
      <label for="description">Description</label>
      <p class="help-text">
        Write down and explain relevant details.
      </p>
      <%= forme.input(:textarea, name: 'description', value: goal.description) %>

    </fieldset>

    <fieldset class="full-width">
      <label for="associated-goals">Associated Goals</label>
      <p class="help-text">
        Search for and associate other goals with this goal.
        <a target="_blank.html" href="../goals">View list of goals.</a>
      </p>
      <input id="associated-goals" name="associated-goals" type="text" placeholder="Type to search"/>
    </fieldset>


    <fieldset>
      <label>Status</label>
      <p class="help-text">
        Keep in mind you'll be able to update the status of this goal as it progresses.
      </p>

      <div class="radioset">

        <%= forme.input(:radioset, name: 'status', options: status_options, selected: selected_status) %>
      </div>

    </fieldset>

    <fieldset>
      <label for="target_date">Target Date</label>
      <p class="help-text">
        When do you expect this goal to be finished? Please enter date in YYYY/MM format.
      </p>
      <%= forme.input(:text, name: 'target_date', placeholder: 'YYYY/MM', value: goal.target_date_string) %>
    </fieldset>

    <fieldset class="full-width">
      <label for="notes">Notes</label>
      <textarea name="notes" id="notes"><%= goal.notes %></textarea>

    </fieldset>

    <input type="submit" value="Save and publish" class="button"/>
    <input type="submit" name="draft" value="Save as draft" class="button button-light"/>
  </form>

</div>
</main>
<script>
  $('#associated-goals').selectize({
    persist: false,
    maxItems: null,
    valueField: 'uid',
    searchField: ['title'],
    items: <%= parent_goal_ids %>,
    options: <%= selectize_associated_goal_options %>,

    render: {
      item: function (item, escape) {
        return '<div><span>' +
            escape(item.title) +
            '<br /><small><b>' + escape(item.domain) + '</b>, <b>' + escape(item.description) + '</b></small>'
        '</span></div>';
      },
      option: function (item, escape) {
        return '<div><span>' +
            escape(item.title) +
            '<br /><small><b>' + escape(item.domain) + '</b><div>' + escape(item.description) + '</div></small>'
        '</span></div>';
      }
    }
  });
</script>
