<form id="mainform" method="GET" class="search-form" role="search" href="/litgoals/goals">

  <%= render 'layout/search_ribbon', locals: locals.merge({ajax: true}) %>

  <div class="container flex-container">

    <%= render 'layout/facets', locals: locals %>


    <main class="goal-result-container">
      <div class="goal-result-summary-container">

        <p id="count" class="goal-result-summary">
          <b><%= goals.size%> results</b>
        </p>
      </div>

      <div class="goal-result-description">
        <% filter.filter_pairs.each do |k,v | %>
          <b><%=k%></b>: <%=v%>;
        <% end %>
      </div>

      <!-- goal list -->
      <ul class="goal-result-list">

        <% goals.each do |goal| %>

          <%= render 'goal/search_result', locals: {goal: goal} %>
        <% end %>

      </ul>
    </main>
  </div>

</form>


