<form id="mainform" method="GET" class="search-form" role="search">

  <%= render 'layout/search_ribbon', locals: locals %>

  <div class="container flex-container">

    <%= render 'layout/facets', locals: locals %>


    <main class="goal-result-container">
      <div class="goal-result-summary-container">

        <p id="count" class="goal-result-summary">
          <b><%= goals.size%> results</b>
        </p>
        <fieldset class="view-type-fieldset">
          <label class="view-type-label">
            <input type="radio" name="viewtype" value="full" checked/>
            Info View
          </label>
          <label class="view-type-label">
            <input type="radio" name="viewtype" value="full"/>
            List View
          </label>
        </fieldset>
      </div>

      <div class="goal-result-description">
        <% filter.selected_description_pairs.each do |k,v | %>
          <b><%=k%></b>: <%=v%>;
        <% end %>
      </div>

      <!-- goal list -->
      <ul class="goal-result-list">

        <% goals.each do |goal| %>

          <%= render 'goal/search_result', locals: {goal: goal} %>
        <% end %>

      </ul>
    </main>
  </div>

</form>


