<html>
<head>
  <title>Goals Visualization</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/litgoals/assets/stylesheets/main.css" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="/litgoals/assets/javascript/selectize.js"></script>
  <script src="/litgoals/assets/javascript/list.js"></script>


</head>
<body>

    <% if flash[:error_msg] %>
      <div class="alert alert-warning alert-site-banner">
        <div class="container">
          <h3>Please check:</h3>
          <% Array(flash[:error_msg]).flatten.each do |x| %>
            <div><%= x %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if flash[:goal_added_msg] %>
      <div class="alert alert-success alert-site-banner">
        <div class="container">
          <%= flash[:goal_added_msg] %>
        </div>
      </div>
    <% end %>

    <header class="site-header">
      <div class="container">
        <a href="/" class="brand-link">
          <img class="brand-image mlib-logo-image" src="http://www.lib.umich.edu/shared-files/graphics/logos/umlib_logo_white_72x442.png">
        </a>

        <nav>
          <ul class="nav-list">
            <li>
              <a href="/litgoals/create">Create</a>
            </li>
            <li style="color: #fff">
              <a href="/litgoals/goals/<%= current_fiscal_year%>"><%= current_fiscal_year %> FY Goals</a>
            </li>
            <li>
              <a href="/litgoals/goals/">Archive</a>
            </li>
            <li>
              <a href="https://weblogin.umich.edu/cgi-bin/logout?http://www.lib.umich.edu">Log out, <%= @user.uniqname %></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="site-footer">
      <div class="container">
        <h2 class="no-spacing-top">Library Information Technology Goals</h2>
        <p>
          Created by M-Library LIT to help LIT understand and track the big picture of the division.
        </p>

        <nav>
          <ul class="nav-list">
            <li>
              <a href="/litgoals/goals">Goal Archive by Fiscal Year</a></a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>


  </body>
</html>
