
<div class="container">

  <form action="/new_goal" method="post">
    <input type="hidden" name="goal_id" value="<%goal.id%>">

    <fieldset>

      <% if user.is_admin %>
          <%=
            forme.input(:select,
                        label: "Goal Scope",
                        name: "owner_uniqname",
                        id:   "owner_uniqname",
                        options: [["Personal Goal (#{user.name}", user.uniqname, ]] +
                                  units.map{|u| [u.name, u.abbreviation]},
                        selected: goal.owner_uniqname

            )


          %>
       <% else %>
          <input type="hidden" name="owner_uniqname" value="<%= user.uniqname %>"/>
      <% end %>

      <input type="hidden" name="creator_uniqname" value="<%= user.uniqname %>"/>


    </fieldset>

    <fieldset class="full-width">
      <label for="title">Title</label>
      <p class="help-text">
        Give your goal a title that can quickly identify it's purpose.
      </p>
      <%=  gforme.input :title %>
    </fieldset>

    <fieldset class="full-width">
      <label for="description">Description</label>
      <p class="help-text">
        Write down and explain relevant details.
      </p>
      <%= forme.input(:textarea, name: 'description', value: goal.description) %>

    </fieldset>

    <fieldset class="full-width">
      <label for="associated-goals">Associated Goals</label>
      <p class="help-text">
        Select other unit and department goals that are associated with this personal goal.
        <a href="">View and learn more about these goals.</a>
      </p>
      <input id="associated-goals" name="associated-goals" type="text"/>
    </fieldset>

    <fieldset>
      <label for="platform">"The Platform"</label>
      <p class="help-text">
        To which phase of work on The Platform&trade;, if any, does this goal most apply?
      </p>
      <%= forme.input(:select, name: 'platform', options: platform.map{|x| [x,x]}, selected: goal.platform) %>
    </fieldset>
    <fieldset>
      <label for="status">Status</label>
      <p class="help-text">
        Keep in mind you'll be able to update the status of this goal as it progresses.
      </p>
      <%= forme.input(:select, name: 'status', options: statuses, selected: goal.status) %>
    </fieldset>

    <fieldset>
      <label for="target_date">Target Date</label>
      <p class="help-text">
        Please enter the year/month you're targeting for completion as YYYY/MM
      </p>
      <%=  forme.input(:text, name: 'target_date', placeholder: 'YYYY/MM', value: goal.target_date_string)%>
    </fieldset>

    <input type="submit" value="Create Goal" class="button"/>
  </form>

</div>
</main>
<script>
  $('#associated-goals').selectize({
    persist: false,
    maxItems: null,
    valueField: 'uid',
    searchField: ['title'],
    options: [
      {
        title: 'Refine the TASC Impact ratings scales by mid-November for use in planning the Winter 2016 cycle.',
        uid: 1,
        domain: 'Design & Discovery',
        division_goal: 'Evolve Ratings and Cycle Design Partnership between TASC and LIT'
      },
      {
        title: 'Refine complexity & cost rating scales with LIT managers (Fall 2015)',
        uid: 2,
        domain: 'Design & Discovery',
        division_goal: 'Evolve Ratings and Cycle Design Partnership between TASC and LIT'
      },
      {
        title: 'Refine Project Queue Trello board based on needs of FD reps and LIT managers (Fall 2015)',
        uid: 3,
        domain: 'Design & Discovery',
        division_goal: 'Evolve Ratings and Cycle Design Partnership between TASC and LIT'
      },
      {
        title: 'Develop process for formation of investigation teams',
        uid: 4,
        domain: 'Design & Discovery',
        division_goal: 'Evolve Ratings and Cycle Design Partnership between TASC and LIT'
      },
      {
        title: 'Develop a method or understanding of how to involve IT staff earlier in discussions of projects in the divisions',
        uid: 5,
        domain: 'Design & Discovery',
        division_goal: 'Evolve Ratings and Cycle Design Partnership between TASC and LIT'
      }
    ],
    render: {
      item: function (item, escape) {
        return '<div><span>' +
            escape(item.title) +
            '<br /><small><b>' + escape(item.domain) + '</b>, <b>' + escape(item.division_goal) + '</b></small>'
        '</span></div>';
      },
      option: function (item, escape) {
        return '<div><span>' +
            escape(item.title) +
            '<br /><small><b>' + escape(item.domain) + '</b>, <b>' + escape(item.division_goal) + '</b></small>'
        '</span></div>';
      }
    }
  });
</script>
