<li class="goal-result">
  <h2 class="goal-title">
    <a class="goal-link" href="<%= goal.url %>"><%= goal.title %></a>
  </h2>
  <div class="goal-scope">
    <% if goal.scope_links.empty? %>
      <%= goal.creator.name %>
    <% else %>
      <% goal.scope_links.each do |scope| %>
        <a href="<%= scope.url %>"><%= scope.name %></a><br>
      <% end %>
    <% end %>
  </div>
  <dl class="goal-metadata-list">
    <dt>
      Why
    </dt>
    <dd>
      <%= goal.description %>
    </dd>

    <% if !goal.stewards_list.empty? %>
      <dt>
        Stewards
      <dt>
      <dd>
        <%= goal.stewards_list %>
      </dd>
    <% end %>
  </dl>
</li>
