<%= render 'layout/search_ribbon', locals: locals %>

<div class="container flex-container">



  <main class="goal-result-container">
    <ul class="goal-result-list">

        <li class="goal-result">
          <h2 class="goal-title">
            <a class="goal-link" href="<%= goal.url %>"><%= goal.title %></a>
          </h2>
          <dl class="goal-metadata-list">
            <dt>
              Why
            </dt>
            <dd>
              <%= goal.description %>
            </dd>

            <dt>
              Stewards
            <dt>
            <dd>
              <%= goal.owners %>
            </dd>

            <dt>
              Scope
            <dt>
            <dd>
              <% goal.scope_links.each do |scope| %>
                <a href="<%= scope.url%>"><%= scope.name%></a><br>
              <% end %>
            </dd>

            <dt>
              Status
            <dt>
            <dd>
              <%= goal.status %>
            </dd>

            <dt>
              Target Date
            <dt>
            <dd>
              <%= goal.target_date %>
            </dd>

            <dt>
              Associated Goals
            <dt>
            <dd>
              <ul class="associated-goals-list">
                <% goal.associated_goals.each do |ag| %>
                  <li>
                    <a href="<%= ag.url %>"><%= ag.title%></a>
                  </li>
                <% end %>
              </ul>
            </dd>
          </dl>

        </li>

    </ul>
  </main>
</div>




