<form id="mainform" method="GET" class="search-form" role="search" action="/litgoals/goals">
  <%= render 'layout/search_ribbon', locals: locals %>
</form>

<main class="container container-narrow goal-page">
  <%= render "goal/edit_link", locals: locals %>
  <h2 class="goal-title"><%= goal.title %></h2>

  <dl class="goal-metadata-list">
    <%= render 'goal/ownership_and_scope', locals: locals %>
    <%= render 'goal/fields', locals: locals %>
    <%= render 'goal/associated_goals', locals: locals %>
  </dl>
</main>
